.App {
  text-align: center;
  background-image: linear-gradient(-180deg, #FFEBDE 0%, #FFD5BA 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

button{
  background: #B60741;
  border: 2px solid #C00000;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  outline: none;
  transition: opacity 150ms ease-in-out;
}
